body {
    background-color: #2a2a2a;
    color: white;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 25px;
}

h1 {
    font-size: 2.7rem;
}

p {
    font-size: 1.3rem;
    margin: 0;
}

.time-lives {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
}

.center-squares {
    display: flex;
    justify-content: center;
}

.squares {
    display: grid;
    grid-template-columns: repeat(5, 80px);
    gap: 15px;
}

.squares > div {
    width: 80px;
    height: 80px;
    border-radius: 11px;
    cursor: pointer;
    background-color: #4a4a4a;
}

.lives {
    display: flex;
    align-items: center;
    gap: 5px;
}

.orange {
    background-color: #f9a400;
}

.center-finalScore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0;
}

#finalScore {
    display: none;
    font-size: 2.8rem;
    margin: 0;
}

.gameOverBtns, .secondMenu {
    display: none;
}

.gameOverBtns > img, .secondMenu > img {
    display: none;
    margin: 15px 15px 0px 15px;
    cursor: pointer;
}

#yes {
    color: lime;
    font-size: 95px;
}